/* RootLayout.module.css */

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  height: 4rem;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}
